<!DOCTYPE html>
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css" type="text/css"/>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
        <title>Start Page</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <style>
            .grid {
                display: grid;
                grid-template-columns: 1fr 1fr;
                text-align: center;
            }

            .container {
                padding: 45px;
                font-size: 30px;
                text-align: center;
            }
        </style>
    </head>
    <body>
        <div class="grid"> 
            <div class="container">
                <div class="card">
                    <div class="card-header">
                        Suma
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Nivel 1</li>
                        <li class="list-group-item">Nivel 2</li>
                        <li class="list-group-item">Nivel 3</li>
                    </ul>
                </div>
            </div>
            <div class="container">        
                <div class="card">
                    <div class="card-header">
                        Resta
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Nivel 1</li>
                        <li class="list-group-item">Nivel 2</li>
                        <li class="list-group-item">Nivel 3</li>
                    </ul>
                </div>
            </div>


            <div class="container">        
                <div class="card">
                    <div class="card-header">
                        Multiplicacion
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Nivel 1</li>
                        <li class="list-group-item">Nivel 2</li>
                        <li class="list-group-item">Nivel 3</li>
                    </ul>
                </div>
            </div> 

            <div class="container">  
                <div class="card">
                    <div class="card-header">
                        Division
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Nivel 1</li>
                        <li class="list-group-item">Nivel 2</li>
                        <li class="list-group-item">Nivel 3</li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>
