<!DOCTYPE html>
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css" type="text/css"/>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <style>
            /* Agregar bordes a las celdas */
            .table-bordered tbody th,
            .table-bordered tbody td {
                border: 1px solid #dee2e6;
            }

            /* Agregar bordes a las filas de encabezado */
            .table-bordered thead th {
                border: 1px solid #dee2e6;
            }

            /* Hacer que los bordes sean más visibles */
            .table-bordered th,
            .table-bordered td {
                border-width: 2px;
            }
        </style>
    </head>
    <body>
        <table class="table table-bordered">           
            <thead>
                <tr>
                    <th scope="col">Tema</th>
                    <th scope="col">Nivel</th>
                    <th scope="col">Calificacion</th>
                </tr>
            </thead>
            <tbody>
                <tr class="table-success">
                    <td>Suma</td>
                    <td>1</td>
                    <td>7</td>
                </tr>
                <tr class="table-success">
                    <td>Suma</td>
                    <td>2</td>
                    <td>6</td>
                </tr>
                <tr class="table-success">
                    <td>Suma</td>
                    <td>3</td>
                    <td>10</td>
                </tr>

                <tr class="table-danger">
                    <td>Resta</td>
                    <td>1</td>
                    <td>7</td>
                </tr>
                <tr class="table-danger">
                    <td>Resta</td>
                    <td>2</td>
                    <td>6</td>
                </tr>
                <tr class="table-danger">
                    <td>Resta</td>
                    <td>3</td>
                    <td>10</td>
                </tr>

                <tr class="table-warning">
                    <td>Multiplicacion</td>
                    <td>1</td>
                    <td>7</td>
                </tr>
                <tr class="table-warning">
                    <td>Multiplicacion</td>
                    <td>2</td>
                    <td>6</td>
                </tr>
                <tr class="table-warning">
                    <td>Multiplicacion</td>
                    <td>3</td>
                    <td>10</td>
                </tr>

                <tr class="table-info">
                    <td>Division</td>
                    <td>1</td>
                    <td>7</td>
                </tr>
                <tr class="table-info">
                    <td>Division</td>
                    <td>2</td>
                    <td>6</td>
                </tr>
                <tr class="table-info">
                    <td>Division</td>
                    <td>3</td>
                    <td>10</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
