<!DOCTYPE html>
<html>
    <head>
        <title>Start Page</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    </head>
    <body style="margin: 0;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 p-0">
                    <div class="sidenav d-flex align-items-center" style="height: 100vh; background-color: #3D3267; padding-top: 10px;">
                        <div class="login-main-text mx-auto text-center" style="padding: 60px; color: #fff;">
                            <h2 style="font-weight: 300;">Matemágicas<br></h2>
                            <p>¡Descubre la magia de las matemáticas!</p>
                            <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/58eb3829-3e8e-4f1a-9508-1f696102692f/dg5vdbh-8b72a737-dd42-4111-b6d5-db0c53ada237.png/v1/fill/w_894,h_894/logomatemagicas_by_dxngx_dg5vdbh-pre.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTI4MCIsInBhdGgiOiJcL2ZcLzU4ZWIzODI5LTNlOGUtNGYxYS05NTA4LTFmNjk2MTAyNjkyZlwvZGc1dmRiaC04YjcyYTczNy1kZDQyLTQxMTEtYjZkNS1kYjBjNTNhZGEyMzcucG5nIiwid2lkdGgiOiI8PTEyODAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.J65QtRXJhI1SsMFrP3wIsAcwn28xAFcDK0uaoeKiuwE" alt="Logo" class="img-fluid" style="max-width: 200px;">
                        </div>
                    </div>
                </div>
                <div class="col-md-8 p-0">
                    <div class="main" style="padding: 20px; background-color: #FFF;">
                        <div class="col-md-6 col-sm-12">
                            <div class="login-form" style="margin-top: 10%;">
                                <form>
                                    <div class="form-group">
                                        <label>User Name</label>
                                        <input type="text" class="form-control" placeholder="User Name">
                                    </div>
                                    <div class="form-group">
                                        <label>Password</label>
                                        <input type="password" class="form-control" placeholder="Password">
                                    </div>
                                    <a href="/login" class="btn btn-black" style="background-color: #3D3267; color: #fff;">Login</a>
                                    <a href="/register" class="btn btn-secondary" style="background-color: #337AB7; color: #fff;">Register</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
