<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" />
    </head>
    <body>
        <div class="container">
            <div class="row">
                <!-- Contenido para todos los usuarios -->
                <div class="col-sm">
                    Revisar Actividades
                </div>
                <div class="col-sm">
                    Ver Calificaciones
                </div>
                <div class="col-sm">
                    Actividades
                </div>
                <div class="col-sm">
                    Calificaciones
                </div>
                <div class="col-sm">
                    Administrador
                </div>
                <div class="col-sm">
                    Administrador
                </div>
                <div class="col-sm">
                    Administrador
                </div>
            </div>
        </div>
    </body>
</html>
