<!DOCTYPE html>
<html>
    <head>
        <title>Registro</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            /* Estilos para centrar los elementos del formulario */
            .form-container {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            .form-container form {
                width: 100%;
                max-width: 500px;
            }
            /* Fin de los estilos para centrar los elementos del formulario */
        </style>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" />
    </head>
    <body>
        <div class="container form-container">
            <h1>Registrate</h1>
            <form>
                <div class="mb-3">
                    <label for="firstName" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="firstName" placeholder="Ingresa tu nombre">
                </div>
                <div class="mb-3">
                    <label for="lastName" class="form-label">Apellido</label>
                    <input type="text" class="form-control" id="lastName" placeholder="Ingresa tu apellido">
                </div>
                <div class="mb-3">
                    <label for="role" class="form-label">Rol</label>
                    <select class="form-select" id="role">
                        <option value="" disabled selected>Selecciona un rol</option>
                        <option value="representante">Representante</option>
                        <option value="estudiante">Estudiante</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="birthdate" class="form-label">Fecha de nacimiento</label>
                    <input type="date" class="form-control" id="birthdate">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Correo electrónico</label>
                    <input type="email" class="form-control" id="email" placeholder="Ingresa tu correo electrónico">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" id="password" placeholder="Ingresa tu contraseña">
                </div>
                <button type="submit" class="btn btn-black" style="background-color: #3D3267; color: #fff;">Registrar</button>
            </form>
        </div>
    </body>
</html>
